header {
    background-image: URL(https://i.imgur.com/HeimDoK.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

h1 {
    font-family: 'IBM Plex Mono', monospace;
text-align: center;
    
        font-weight: 1000;
        font-size: 2.2em;
        margin-top: 10%;
        color:olive;
        text-shadow: 1px 1px goldenrod;
        letter-spacing: 0px;
        padding: 10px;
        margin: 10px;
}

body {
	background-image: URL(https://i.imgur.com/bBnvjtd.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

p {
    font-size: 16px;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    display: inline-block;
    position: center;

  }

  .container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container > img {
	width: 50%;
}
.container > h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 1000;
	font-size: 2em;
	margin-top: -1%;
	color:olive;
	text-shadow: 1px 1px goldenrod;
	letter-spacing: 2px;
}

.carousel-container {
	width: 70%;
	display: flex;
	justify-content: space-around;
    padding-top: 50px;
}
.carousel-images {
	width: 40%;
	padding: 10px;
	border-radius: 60% 40% 40% 20%;
	box-sizing: border-box;
    box-shadow: olive;
}
.carousel-images img {
	width: 100%;
    border-radius: 60% 40% 40% 20%;
	display: none;
}
.carousel-button {
	align-self: center;
    background: olive;
	color: goldenrod;
	padding: 10px;
	border-radius: 10%;
    text-align: center;

}
.carousel-button:hover {
	cursor: pointer;
	background: pink;
	box-shadow: 1px 1px goldenrod;
	color: goldenrod;
}

ul {
    text-decoration: none;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    list-style-type: none;
    display: inline;
    
}

.home {
    display: inline;
    text-decoration: none;
}

a:link {
    text-decoration: none;
    padding: 5px;
    text-align: center;
    margin: 50px;
}

a:hover {
    cursor: pointer;
	background: pink;
}

footer {
    text-decoration: none;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
 }

 .wrap {
    max-width: 600px;
    width: fit-content;
    margin: auto;
    border: dotted goldenrod 5px;
 }