

h1 {
    font-family: 'IBM Plex Mono', monospace;
text-align: center;
    
        font-weight: 1000;
        font-size: 2.2em;
        margin-top: 10%;
        color:olive;
        text-shadow: 1px 1px goldenrod;
        letter-spacing: 0px;
        padding: 30px;
        margin: 10px;
}

header {
    background-image: URL(https://i.imgur.com/HeimDoK.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

body {
	background-image: URL(https://i.imgur.com/bBnvjtd.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h2 {
    font-family: 'IBM Plex Mono', monospace;
text-align: center;
color:olive;
text-shadow: 1px 1px goldenrod;

}

p {
    font-size: 16px;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    border: dotted goldenrod 5px;
    margin: -10px;
}

ul {
    text-decoration: none;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    list-style-type: none;
    display: inline;
    
}

.home {
    display: inline;
    text-decoration: none;

}

a:link {
    text-decoration: none;
    padding: 5px;
    text-align: center;
    margin: 50px;

}

a:hover {
    cursor: pointer;
	background: pink;
}

footer {
    text-decoration: none;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
 }

 table {
    text-decoration: none;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 20px;
 }

.coffee {
        text-decoration: none;
        text-align: center;
        font-family: 'IBM Plex Mono', monospace;
        margin-left: auto; 
        margin-right: auto;
        border: solid goldenrod 3px;
}

.wrap {
  
        max-width: 600px;
        width: fit-content;
        margin: auto;
    
}

.modal-textbox {
background-color: whitesmoke;
color: white;
}

#openModal {
font-family: 'IBM Plex Mono', monospace;
text-align: center;
background-color: pink;
margin: 20px;

}

openModal:hover {
    cursor: pointer;
}

#closeModal {
font-family: 'IBM Plex Mono', monospace;
text-align: center;
background-color: pink;
}

closeModal:hover {
    cursor: pointer;
}

#modal {
background-color: whitesmoke;
display: none;
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 100%;
z-index: 1;
overflow: auto;
text-align: center;
height: 350px;
width: 550px;
border-radius: 2px;
margin: 150px auto;
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);

}

.resume {
color: white;
text-align: center;
font-family: 'IBM Plex Mono', monospace;
}