@media only screen and (max-width: 1200px){

}
@media only screen and (max-width: 600px){

}
@media only screen and (max-width: 425px){

}


header {
    background-image: URL(https://i.imgur.com/HeimDoK.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

body {
	background-image: URL(https://i.imgur.com/bBnvjtd.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container > img {
	width: 50%;
}
.container > h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 1000;
	font-size: 2em;
	margin-top: -1%;
	color:olive;
	text-shadow: 1px 1px goldenrod;
	letter-spacing: 2px;
}

.carousel-container {
	width: 70%;
	display: flex;
	justify-content: space-around;
}
.carousel-images {
	width: 40%;
	background: whitesmoke;
	padding: 10px;
	border-radius: 60% 40% 40% 20%;
	box-sizing: border-box;
	box-shadow: 2px 2px olive;
}
.carousel-images img {
	width: 100%;
    border-radius: 60% 40% 40% 20%;
	display: none;
}
.carousel-button {
	align-self: center;
    background: olive;
	color: goldenrod;
	padding: 15px;
	border-radius: 100%;
    text-align: center;

}
.carousel-button:hover {
	cursor: pointer;
	background: pink;
	box-shadow: 1px 1px goldenrod;
	color: goldenrod;
}

h1 {
    font-family: 'IBM Plex Mono', monospace;
text-align: center;
    
        font-weight: 1000;
        font-size: 2.2em;
        margin-top: 10%;
        color:olive;
        text-shadow: 1px 1px goldenrod;
        letter-spacing: 0px;
        padding: 30px;
        margin: 10px;
}


small {
    font-size: 16px;
    opacity: 0;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
  }


 footer {
    text-decoration: none;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
 }

 embeded {

    text-decoration: none;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    background: linear-gradient(bottom, rgba(241, 182, 72, 0.2), rgba(245, 203, 78, 0.2));
    background: -webkit-linear-gradient(bottom, rgba(245, 203, 78, 0.2), rgba(245, 203, 78, 0.2));
    background: -moz-linear-gradient(bottom, rgba(245, 203, 78, 0.2), rgba(245, 203, 78, 0.2));
 }


#rock, #paper, #scissors, #reset, #submit {
    background-color: pink;
}


h2 {
    text-align: center;
    font-family: 'IBM Plex Mono', monospace; 
}
 
ul {
    text-decoration: none;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    list-style-type: none;
    display: inline;
    
}

.about {
    display: inline;
    text-decoration: none;
}

.exp {
    display: inline;
    text-decoration: none;
}

.proj {
    display: inline;
    text-decoration: none;
}

a:link {
    text-decoration: none;
    padding: 5px;
    text-align: center;
    margin: 50px;
}

a:hover {
    cursor: pointer;
	background: pink;
}